<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">ChatBot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://posgrado.ucontinental.edu.pe/educacion-ejecutiva/programas-en-tecnologias-de-la-informacion/programacion-y-desarrollo-con-python" target="_blank">Curso de Python y Django</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>